In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [3]:
# Loading Data
df = pd.read_csv(r'D:\data analysis\Mustaf Othman.py\Projects\all_data(Data_Club)\all_Data.csv',encoding='iso-8859-1')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2158 non-null   float64
 1   FirstName       2158 non-null   object
 2   LastName        2158 non-null   object
 3   City            2158 non-null   object
 4   Country         2158 non-null   object
 5   Phone           2158 non-null   object
 6   OrderID         2155 non-null   float64
 7   OrderDate       2155 non-null   object
 8   OrderNumber     2155 non-null   float64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2157 non-null   float64
 11  ProductName     2157 non-null   object
 12  UnitPrice       2157 non-null   float64
 13  Package         2157 non-null   object
 14  IsDiscontinued  2157 non-null   object
 15  SupplierID      2157 non-null   float64
 16  CompanyName     2157 non-null   object
 17  ContactName     2157 non-null   object
 18  City.1          2157 non-null   object
 19  Country.1       2157 non-null   object
 20  Phone.1         2157 non-null   object
 21  Fax             947 non-null    object
dtypes: float64(7), object(15)
memory usage: 371.6+ KB

In [11]:
df.sample(10)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1248,61.00,Bernardo,Batista,Rio de Janeiro,Brazil,(21) 555-4252,473.00,10/28/2013 0:00,"542,850.00",550.00,35.00,Steeleye Stout,18.00,24 - 12 oz bottles,False,16.00,Bigfoot Breweries,Cheryl Saylor,Bend,USA,(503) 555-9931,NaN
575,28.00,Lino,Rodriguez,Lisboa,Portugal,(1) 354-2534,217.00,3/4/2013 0:00,"542,594.00","1,848.00",56.00,Gnocchi di nonna Alice,38.00,24 - 250 g pkgs.,False,26.00,Pasta Buttini s.r.l.,Giovanni Giudici,Salerno,Italy,(089) 6547665,(089) 6547667
2033,55.00,Rene,Phillips,Anchorage,USA,(907) 555-7584,787.00,4/20/2014 0:00,"543,164.00",554.40,61.00,Sirop d'érable,28.50,24 - 500 ml bottles,False,29.00,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Canada,(514) 555-2955,(514) 555-2921
1087,37.00,Patricia,McKenna,Cork,Ireland,2967 542,414.00,9/9/2013 0:00,"542,791.00",703.25,39.00,Chartreuse verte,18.00,750 cc per bottle,False,18.00,Aux joyeux ecclésiastiques,Guylène Nodier,Paris,France,(1) 03.83.00.68,(1) 03.83.00.62
570,16.00,Elizabeth,Brown,London,UK,(171) 555-2282,215.00,3/3/2013 0:00,"542,592.00",156.00,23.00,Tunnbr?d,9.00,12 - 250 g pkgs.,False,9.00,PB Kn?ckebr?d AB,Lars Peterson,G?teborg,Sweden,031-987 65 43,031-987 65 91
2026,89.00,Karl,Jablonski,Seattle,USA,(206) 555-4112,785.00,4/17/2014 0:00,"543,162.00","8,902.50",36.00,Inlagd Sill,19.00,24 - 250 g jars,False,17.00,Svensk Sj?f?da AB,Michael Bj?rn,Stockholm,Sweden,08-123 45 67,NaN
214,28.00,Lino,Rodriguez,Lisboa,Portugal,(1) 354-2534,81.00,10/14/2012 0:00,"542,458.00","1,168.00",65.00,Louisiana Fiery Hot Pepper Sauce,21.05,32 - 8 oz bottles,False,2.00,New Orleans Cajun Delights,Shelley Burke,New Orleans,USA,(100) 555-4822,NaN
730,72.00,Hari,Kumar,London,UK,(171) 555-1717,276.00,5/1/2013 0:00,"542,653.00","2,715.90",41.00,Jack's New England Clam Chowder,9.65,12 - 12 oz cans,False,19.00,New England Seafood Cannery,Robb Merchant,Boston,USA,(617) 555-3267,(617) 555-3389
1670,76.00,Pascale,Cartrain,Charleroi,Belgium,(071) 23 67 22 20,638.00,2/12/2014 0:00,"543,015.00","1,209.00",77.00,Original Frankfurter grüne So?e,13.00,12 boxes,False,12.00,Plutzer Lebensmittelgro?m?rkte AG,Martin Bein,Frankfurt,Germany,(069) 992755,NaN
1907,54.00,Yvonne,Moncada,Buenos Aires,Argentina,(1) 135-5333,739.00,3/30/2014 0:00,"543,116.00","2,220.00",77.00,Original Frankfurter grüne So?e,13.00,12 boxes,False,12.00,Plutzer Lebensmittelgro?m?rkte AG,Martin Bein,Frankfurt,Germany,(069) 992755,NaN

In [15]:
df[df['OrderID'].isnull()]

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
2155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.00,Stroopwafels,9.75,24 pieces,False,22.00,Zaanse Snoepfabriek,Dirk Luchte,Zaandam,Netherlands,(12345) 1212,(12345) 1210
2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.00,DataScience,50.00,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157,92.00,Ali,Ali,Cairo,Egypt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,22.00,Diego,Roel,Madrid,Spain,(91) 555 94 44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,57.00,Marie,Bertrand,Paris,France,(1) 42.34.22.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,DSClub,AEmad,Alex,Egypt,11111,11111

In [16]:
df.dropna(subset='OrderID',inplace=True)

In [18]:
df.sample(10)

,CustomerID,FirstName,LastName,City,Country,Phone,OrderID,OrderDate,OrderNumber,TotalAmount,ProductID,ProductName,UnitPrice,Package,IsDiscontinued,SupplierID,CompanyName,ContactName,City.1,Country.1,Phone.1,Fax
1786,32.00,Howard,Snyder,Eugene,USA,(503) 555-7555,689.00,3/9/2014 0:00,"543,066.00",570.00,36.00,Inlagd Sill,19.00,24 - 250 g jars,False,17.00,Svensk Sj?f?da AB,Michael Bj?rn,Stockholm,Sweden,08-123 45 67,NaN
1832,47.00,Felipe,Izquierdo,I. de Margarita,Venezuela,(8) 34-56-12,707.00,3/17/2014 0:00,"543,084.00","1,902.10",31.00,Gorgonzola Telino,12.50,12 - 100 g pkgs,False,14.00,Formaggi Fortini s.r.l.,Elio Rossi,Ravenna,Italy,(0544) 60323,(0544) 60603
207,8.00,Mart?n,Sommer,Madrid,Spain,(91) 555 22 82,79.00,10/10/2012 0:00,"542,456.00",982.00,57.00,Ravioli Angelo,19.50,24 - 250 g pkgs.,False,26.00,Pasta Buttini s.r.l.,Giovanni Giudici,Salerno,Italy,(089) 6547665,(089) 6547667
1833,24.00,Maria,Larsson,Br?cke,Sweden,0695-34 67 21,708.00,3/17/2014 0:00,"543,085.00",93.00,75.00,Rh?nbr?u Klosterbier,7.75,24 - 0.5 l bottles,False,12.00,Plutzer Lebensmittelgro?m?rkte AG,Martin Bein,Frankfurt,Germany,(069) 992755,NaN
838,25.00,Peter,Franken,München,Germany,089-0877310,313.00,6/6/2013 0:00,"542,690.00","1,257.30",30.00,Nord-Ost Matjeshering,25.89,10 - 200 g glasses,False,13.00,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Cuxhaven,Germany,(04721) 8713,(04721) 8714
1671,34.00,Mario,Pontes,Rio de Janeiro,Brazil,(21) 555-0091,639.00,2/13/2014 0:00,"543,016.00","3,127.50",10.00,Ikura,31.00,12 - 200 ml jars,False,4.00,Tokyo Traders,Yoshi Nagase,Tokyo,Japan,(03) 3555-5011,NaN
551,87.00,Pirkko,Koskitalo,Oulu,Finland,981-443655,208.00,2/24/2013 0:00,"542,585.00","2,684.00",61.00,Sirop d'érable,28.50,24 - 500 ml bottles,False,29.00,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Canada,(514) 555-2955,(514) 555-2921
799,72.00,Hari,Kumar,London,UK,(171) 555-1717,300.00,5/23/2013 0:00,"542,677.00","1,908.00",36.00,Inlagd Sill,19.00,24 - 250 g jars,False,17.00,Svensk Sj?f?da AB,Michael Bj?rn,Stockholm,Sweden,08-123 45 67,NaN
1488,39.00,Philip,Cramer,Brandenburg,Germany,0555-09876,570.00,1/6/2014 0:00,"542,947.00","11,490.70",62.00,Tarte au sucre,49.30,48 pies,False,29.00,Forêts d'érables,Chantal Goulet,Ste-Hyacinthe,Canada,(514) 555-2955,(514) 555-2921
671,37.00,Patricia,McKenna,Cork,Ireland,2967 542,256.00,4/11/2013 0:00,"542,633.00","2,048.50",65.00,Louisiana Fiery Hot Pepper Sauce,21.05,32 - 8 oz bottles,False,2.00,New Orleans Cajun Delights,Shelley Burke,New Orleans,USA,(100) 555-4822,NaN

In [19]:
for cols in df.columns:
    if 'ID' in cols or 'OrderNumber' in cols:
        df[cols] = df[cols].astype(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2155 entries, 0 to 2154
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      2155 non-null   int64
 1   FirstName       2155 non-null   object
 2   LastName        2155 non-null   object
 3   City            2155 non-null   object
 4   Country         2155 non-null   object
 5   Phone           2155 non-null   object
 6   OrderID         2155 non-null   int64
 7   OrderDate       2155 non-null   object
 8   OrderNumber     2155 non-null   int64
 9   TotalAmount     2155 non-null   float64
 10  ProductID       2155 non-null   int64
 11  ProductName     2155 non-null   object
 12  UnitPrice       2155 non-null   float64
 13  Package         2155 non-null   object
 14  IsDiscontinued  2155 non-null   object
 15  SupplierID      2155 non-null   int64
 16  CompanyName     2155 non-null   object
 17  ContactName     2155 non-null   object
 18  City.1          2155 non-null   object
 19  Country.1       2155 non-null   object
 20  Phone.1         2155 non-null   object
 21  Fax             945 non-null    object
dtypes: float64(2), int64(5), object(15)
memory usage: 387.2+ KB